.card:hover {
  img {
    animation: shake 0.5s;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  30%,
  80% {
    transform: translateX(-5px) rotateZ(-2deg);
  }
  60%,
  100% {
    transform: translateX(5px) rotateZ(2deg);
  }
}
