.right_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 1px 15px;
  box-sizing: border-box;

  .info_homework_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .info_homework_item > span:first-child {
    font-weight: 500;
  }
}
