.wrapper {
  position: relative;
  box-shadow: 0 0.25rem 1rem 0 #282e3e14;
  background-color: var(--button-background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 0;
  max-width: 52.5rem;
  min-height: 20.25rem;
  padding: 1.5rem 2rem 1.5rem;
  transition: all 0.5s ease;

  .header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    position: relative;
    justify-content: flex-start;

    .info_header {
      display: flex;
      justify-content: space-between;
      color: #939bb4;
    }

    .question {
      margin-top: 20px;
      align-items: stretch;
      display: flex;
      flex: 1 1;
      word-break: break-word;
      font-size: 28px;
      font-weight: 500;
    }
  }

  .answer_wrapper {
    width: 100%;
    .answers {
      display: grid;
      grid-gap: 1.5rem;
      gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
    }
  }
}
