.wrapper {
  width: 100%;
  .item_wrapper {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(216, 220, 240);
    padding: 10px 5px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;
  }

  .item_wrapper_select {
    border-left: 10px solid #3498db;
    position: relative;
    z-index: 2;
  }

  .item_wrapper_select:before {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
  }

  .item_wrapper_select:hover:before {
    content: "";
    width: 100%;
    background: #3498db;
  }

  .item_wrapper:not(.item_wrapper_select):hover {
    background-color: #ccc;
  }
}
