.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Inter, sans-serif;
  color: #202227;

  .create_quizz {
    background-color: #eaf9ff;
    border-radius: 16px;
    width: 80%;
    height: auto;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    text-align: left;
    cursor: pointer;
  }

  .my_quizzs_wrapper {
    display: flex;
    width: 80%;
    height: auto;
    padding: 15px 20px;
    margin: 20px 0;
    flex-direction: column;

    .quizzs {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      overflow-x: auto;
    }
  }
}


@media screen and (max-width: 650px) {
  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
