.wrapper {
  padding: 20px;

  .name_test {
    color: #005186;
    font-size: 26px;
  }

  .exe_pro {
    padding: 20px;

    .title_top {
      color: #4f4f4f;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: bold;
      }
    }
  }

  .content {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .listening {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: 15px 20px;
      font-size: 20px;
      color: #fff;
      border: none;
      background-color: var(--blue);
      border-radius: 16px;
      cursor: pointer;
    }
  }
}
