.wrapper {
  display: flex;
  width: 100%;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header_wrapper {
      border-bottom: 1px solid rgb(216, 220, 240);
      padding: 10px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left_box {
      width: 50%;
      border-right: 1px solid rgb(216, 220, 240);
    }

    .right_box {
      width: 50%;
      display: flex;
      flex-direction: column;

      .tool_box {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgb(216, 220, 240);
        align-items: center;
      }

      .key_wrapper {
        width: calc(100% + 8px);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px;
      }
    }
  }
}

.setting_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-top: 30px;

  .setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .setting > span:first-child {
    color: #65697b;
  }
}
