body {
  margin: 0;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  color: var(--text-color-primary);
  user-select: none;
}

.overlay {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 2000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

:root {
  --primary-color: #4255ff;
  --blue: #2667af;
  --blue-secondary: #1992cd;
  --scrollbar-thumb: #dadce0;
  --blue-tertiary: #1992cd1a;
  --bgc-primary: #0a092d;
  --text-color-primary: #202227;
  --text-color-secondary: #202227;
  --black-text-secondary: #4f4f4f;
  --body-background: #fff;
  --button-background: #dbdbdb;
  --box-shadow: #00000029;
}

[data-theme="dark"] {
  --body-background: #282c34;
  --text-color-primary: #f6f7fb;
  --box-shadow: #adadad29;
  --button-background: #2e3856;
  --text-color-secondary: #939bb4;
}

p {
  margin: 0;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
  padding-inline: 0;
}

* {
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

/* Normal */
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilroy/SVN-Gilroy-Medium.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilroy/SVN-Gilroy-Regular.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilroy/SVN-Gilroy-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilroy/SVN-Gilroy-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/gilroy/SVN-Gilroy-Italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}
