.wrapper {
  width: 100%;
  display: flex;

  .left_box {
    width: 70%;
    border-right: 1px solid rgb(240, 242, 245);
    height: 100%;
  }

  .right_box {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .scrollbar {
      padding: 16px;
      overflow-y: scroll;

      .a1 {
        min-height: 96px;
        background: linear-gradient(
          157.53deg,
          rgb(30, 136, 229) 6.34%,
          rgb(13, 71, 161) 101.19%
        );
        border-radius: 16px 16px 0px 0px;
        padding: 16px;
        color: #fff;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .a2 {
        border: 1px solid rgb(216, 220, 240);
        border-radius: 0px 0px 16px 16px;
        padding: 16px;

        .a3 {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          font-size: 16px;
        }

        .a3 > span:first-child {
          font-weight: 500;
        }
      }

      .answer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}
