.wrapper {
  padding: 0 40px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;

  .menu {
    animation: slideInFromRight 0.5s ease-in-out forwards;
    padding-left: 8px;
    margin-bottom: 15px;
    ul {
      border: none;
    }
    li {
      padding-inline: 0;
    }

    .menu_item {
      background-color: #bbbbbb;
      color: #fff;
      transition: background-color 0.25s;
      padding: 15px 20px;
      font-style: italic;
      font-size: 18px;
      transform: skew(-15deg);
    }

    .menu_item:hover {
      background-color: #4f83fc;
    }

    .menu_item_spec {
      background-color: #f8a0a0;
      color: #fff;
      transition: background-color 0.25s;
      padding: 15px 20px;
      font-style: italic;
      font-size: 18px;
      transform: skew(-15deg);
      position: relative;
    }

    .menu_item_spec:hover {
      background-color: #fc4f4f;
    }
  }

  .menu > ul > li::after {
    border: none !important;
  }

  .menu > ul > li .ant-menu-item-selected {
    background-color: red;
  }

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    opacity: 0;
    transform: translateY(100%);
    animation: slideInFromBottom 0.5s ease-in-out forwards;

    .test_item {
      display: flex;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      overflow: hidden;
      background: #fff;
      width: 100%;
      cursor: pointer;

      .img {
        width: 300px;
        height: 150px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        object-fit: cover;
        object-position: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(81, 160, 255, 1) 36%,
          rgba(0, 212, 255, 1) 100%
        );

        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }
    }

    .item_info {
      padding: 1rem;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      button {
        padding: 6px 16px;
        background-color: #005186;
        color: #fff;
        border-radius: 3px;
        border: 1px solid #005186;
        font-size: 16px;
        cursor: pointer;
      }

      button:hover {
        text-decoration: underline;
      }
    }
  }

  .result_wrapper {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .menu_item {
    font-size: 12px !important;
    padding: 4px 4px !important;
  }

  .menu_item_spec {
    font-size: 12px !important;
    padding: 4px 4px !important;
  }
  .test_item {
    .img {
      width: 120px !important;
      font-size: 14px !important;
      height: 120px !important;
    }

    .item_info {
      .name_test {
        font-size: 14px !important;
      }
      .sub_text {
        font-size: 10px !important;
      }

      .btn_wrapper {
        button {
          font-size: 12px !important;
          padding: 4px 8px !important;
        }
      }
    }
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
